<footer class="footer">
  <div class="footer__container">
    <div class="footer__main">
      <!-- Логотип + Краткая подпись -->
      <div class="footer__brand">
        <a href="#" class="footer__logo">
          <span>❄️</span> Arctic<span class="footer__logo-accent">Air</span>
        </a>
      </div>
    </div>

    <!-- Нижняя полоса с копирайтом и юридической информацией -->
    <div class="footer__bottom">
      <span class="footer__copy">© {{ currentYear() }} Artic Air</span>
      <div class="footer__policy">
        <a [routerLink]="['/privacy']">Политика за поверителност</a>
      </div>
    </div>
  </div>
</footer>
