<section class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <span class="hero__badge">Акция до конца недели</span>
      <h1 class="hero__title">{{ title() }}</h1>
      <p class="hero__subtitle">{{ subtitle() }}</p>

      <div class="hero__actions">
        <app-purchase-button [text]="'Поръчайте'"/>
<!--
        <button class="btn btn&#45;&#45;secondary">Смотреть каталог</button>
-->
      </div>
    </div>

    <div class="hero__image-wrapper">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScxFsxobA91avlPJa2ymGZpMcXFMZ-o-OONPS1AlE5wiVsoOx9D31ZzE-3&s=10" alt="Инверторный кондиционер" class="hero__image">
      <div class="hero__air-flow"></div>
    </div>
  </div>
</section>
